/*________________________________
______||   Header Here   ||_______
__________________________________*/
.header {
    background-color: var(--white);
    padding: 10px 20px;
    height: 62px;
    box-shadow: var(--shadow-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header i {
    font-size: var(--fs-lg);
}

.wrapper {
    width: 100%;
    height: 100dvb;
    overflow: hidden;
}


/*______  Header Nav ______*/
.header-nav i {
    font-size: var(--fs-md);
}


.header-nav .header-nav-btn.active {
    color: var(--primary-color);
}

.header-nav .header-nav-btn:hover {
    color: var(--primary-color);
}






.header .profile-img-lg:hover {
    outline: 2px solid var(--after);
}



/*__________________________________
______||   Right Sidebar   ||_______
___________________________________*/
.right-sidebar {
    position: fixed;
    top: 62px;
    right: 0;
    width: 430px;
    background-color: var(--white);
    height: calc(100dvh - 62px);
    box-shadow: var(--shadow-1);
    border-top: 1px solid var(--border-color);

}

.right-sidebar-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*______  Buy Products ______*/
.buy-products img {
    width: 44px;
}

.buy-products .item-name {
    width: 180px;
    text-align: left;
}

.buy-products .item {
    padding: 4px 12px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    border-left: 1px solid transparent;
}

.buy-products .item:hover {
    background-color: var(--border-color);
    border-left: 1px solid var(--white);
}

.buy-products-area {
    height: calc(100dvh - 504px);
    overflow-y: auto;
}


/*_______ calculator-total _______*/
.calculator-total {
    height: 434px;
}


.buy-products-total li {
    padding: 4px 12px;
}

.buy-products-total li h6 {
    color: var(--gray);
    font-weight: 500;
}

.calculator .head button {
    padding: 18px 14px;
    background-color: var(--border-color);
    border-radius: 5px;
    font-size: var(--fs-md);
    font-weight: var(--fw-600);
}

.calculator .body button {
    background-color: gainsboro;
    padding: 14px;
    font-size: var(--fs-lg);
    border-radius: 5px;
    font-weight: var(--fw-600);
}

.calculator .payment-btn {
    width: 100%;
    background-color: var(--gray);
    padding: 18px;
    border-radius: 6px;
    color: var(--white);
    font-size: var(--fs-lg);
    transition: .25s linear;
}

.calculator .target-btn.active {
    border: 1px solid var(--gray2);
    background-color: var(--gray2);
}

.calculator button:hover {
    background-color: var(--border-color2);
}

.calculator .body .plus-minus {
    background-color: green;
    color: var(--white);
}

.calculator .body .close {
    background-color: var(--red);
    color: var(--white);
}

.calculator .body .point {
    background-color: khaki;
}

.calculator .payment-btn:hover {
    opacity: .8;
    background-color: var(--gray);
}


/*______________________________
______||   Main Body   ||_______
_______________________________*/

.main-body {
    height: calc(100dvh - 68px);
    width: calc(100% - 476px);
    margin: 24px;
    margin-top: 76px;
}

.main-body .body-top {
    background-color: var(--white);
    height: 90px;
    padding: 8px;
    border-radius: 8px;
}

.main-body .body-top input {
    width: 360px;
    padding: 14px;
    border-radius: 12px;
    border-color: var(--border-color2);
}




/*_________ category slider ________*/
.category {
    width: calc(100% - 385px);
    user-select: none;
}

.category .my-card {
    padding: 6px;
    background-color: var(--border-color);
    cursor: pointer;
}

.category img {
    width: 58px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    font-weight: 700 !important;
    width: 28px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}



/*_____  Main body Products ______ */
.product-wrapper {
    height: 1000px;
    max-height: 3000px;
}

.main-body .products {
    padding-bottom: 142px;
    height: 545px;
    overflow-y: auto;
}

.main-body .product {
    cursor: pointer;
    position: relative;
}

.main-body .product .qty {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gray);
    color: var(--white);
    font-weight: 600;
    z-index: 2;
}

.main-body .product img {
    width: 100%;
    height: 120px;
}









/*_________ Three Dot Modal ________*/
.three-dot-modal .modal-content,
.note-modal .modal-content {
    padding: 20px;
}

.three-dot-modal .my-card {
    padding: 22px;
    background-color: var(--border-color);
    cursor: pointer;
    min-height: 100px;
}

.three-dot-modal .my-card i {
    color: var(--secondary-color);
}

.three-dot-modal .my-card:hover {
    background-color: var(--border-color2);
}




/*_________ Note Modal ________*/
.note-modal .modal-content {
    min-width: 800px;
}

.note-modal .my-card {
    padding: 18px 22px;
    cursor: pointer;
    font-weight: var(--fw-600);
    background-color: var(--border-color);
    color: var(--secondary-color);
    font-size: var(--fs-md);
}

.note-modal .my-card:hover {
    background-color: var(--border-color2);
}

.note-modal .my-card.active {
    background-color: var(--secondary-color);
    color: var(--white);
}






/*_________ Customers Modal ________*/
.customers-modal .table-wrapper {
    min-height: 500px;
    height: 400px;
    max-height: 4000px;
    overflow-y: scroll;
    position: relative;
}

.customers-modal .customer-search {
    border-radius: 12px;
    padding: 14px;
}


.customers-modal table th {
    padding: 18px 6px;
    padding-left: 12px;
    color: var(--secondary-color);
    box-shadow: var(--shadow-1);
    background-color: var(--secondary-color);
    color: var(--white);
}

.customers-modal table tbody tr {
    border-bottom: 1px dotted var(--border-color2);
    font-size: var(--fs-sm);
}

.customers-modal table tbody tr p,
.customers-modal table tbody tr div {
    font-size: var(--fs-sm);
}

.customers-modal table tbody tr:nth-child(even) {
    background-color: var(--border-color);
}


/* action dropdonn */
.customers-modal .action-dropdown {
    position: absolute;
    top: 40px;
    left: -20px;
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    z-index: 18;
    padding: 12px;
    border: 1px solid var(--border-color);
    min-width: 120px;
    border-radius: 4px;
    display: none;
}

.customers-modal .action-dropdown.active {
    display: flex;
}

.customers-modal .action-dropdown button {
    font-size: 13px;
    text-align: left;
}