/*________________________________
______||   Header Here   ||_______
__________________________________*/
.header {
    background-color: var(--white);
    padding: 10px 24px;
    height: 62px;
    box-shadow: var(--shadow-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header i {
    font-size: var(--fs-lg);
}

.wrapper {
    width: 100%;
    height: 100dvb;
    overflow: hidden;
}

.counter-btns button,
.counter-btns .counter {
    background-color: var(--border-color) !important;
}

.counter-btns button:hover,
.counter-btns .counter:hover {
    background-color: var(--border-color2) !important;
    cursor: pointer;
}

/*______  Header Nav ______*/
.header-nav i {
    font-size: var(--fs-md);
}


.header-nav .header-nav-btn.active {
    color: var(--primary-color);
}

.header-nav .header-nav-btn:hover {
    color: var(--primary-color);
}






.header .profile-img-lg:hover {
    outline: 2px solid var(--after);
}



/*__________________________________
______||   Right Sidebar   ||_______
___________________________________*/
.right-sidebar {
    position: fixed;
    top: 62px;
    right: 0;
    width: 430px;
    background-color: var(--white);
    height: calc(100dvh - 62px);
    box-shadow: var(--shadow-1);
    border-top: 1px solid var(--border-color);

}

.right-sidebar-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*______  Buy Products ______*/
.buy-products img {
    width: 44px;
}

.buy-products .item-name {
    width: 180px;
    text-align: left;
}

.buy-products .item {
    padding: 4px 12px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    border-left: 1px solid transparent;
}

.buy-products .item:hover {
    background-color: var(--border-color);
    border-left: 1px solid var(--white);
}

.buy-products-area {
    height: calc(100dvh - 504px);
    overflow-y: auto;
}


/*_______ calculator-total _______*/
.calculator-total {
    height: 434px;
}


.buy-products-total li {
    padding: 4px 12px;
}

.buy-products-total li h6 {
    color: var(--gray);
    font-weight: 500;
}

.calculator .head button {
    padding: 18px 14px;
    background-color: var(--border-color);
    border-radius: 5px;
    font-size: var(--fs-md);
    font-weight: var(--fw-600);
}

.calculator .body button {
    background-color: gainsboro;
    padding: 14px;
    font-size: var(--fs-lg);
    border-radius: 5px;
    font-weight: var(--fw-600);
}

.calculator .payment-btn {
    width: 100%;
    background-color: var(--gray);
    padding: 18px;
    border-radius: 6px;
    color: var(--white);
    font-size: var(--fs-lg);
    transition: .25s linear;
}

.calculator .target-btn.active {
    border: 1px solid var(--gray2);
    background-color: var(--gray2);
}

.calculator button:hover {
    background-color: var(--border-color2);
}

.calculator .body .plus-minus {
    background-color: green;
    color: var(--white);
}

.calculator .body .close {
    background-color: var(--red);
    color: var(--white);
}

.calculator .body .point {
    background-color: khaki;
}

.calculator .payment-btn:hover {
    opacity: .8;
    background-color: var(--gray);
}


/*______________________________
______||   Main Body   ||_______
_______________________________*/

.main-body {
    height: calc(100dvh - 68px);
    width: calc(100% - 476px);
    margin: 24px;
    margin-top: 76px;
}

.main-body .body-top {
    background-color: var(--white);
    height: 90px;
    padding: 8px;
    border-radius: 8px;
}

.main-body .body-top input {
    width: 360px;
    padding: 14px;
    border-radius: 12px;
    border-color: var(--border-color2);
}




/*_________ category slider ________*/
.category {
    width: calc(100% - 385px);
    user-select: none;
}

.category .my-card {
    padding: 6px;
    background-color: var(--border-color);
    cursor: pointer;
}

.category img {
    width: 58px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    font-weight: 700 !important;
    width: 28px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}



/*_____  Main body Products ______ */
.product-wrapper {
    height: 1000px;
    max-height: 3000px;
}

.main-body .products {
    padding-bottom: 142px;
    height: 545px;
    overflow-y: auto;
}

.main-body .product {
    cursor: pointer;
    position: relative;
    border: 1px dotted transparent;
}

.main-body .product:hover {
    border: 1px dotted var(--primary-color);
}

.main-body .product .base {
    font-size: 10px;
}

.main-body .product .base.new {
    left: 8px;
    top: 8px;
    width: fit-content;
}

.main-body .product .qty {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gray);
    color: var(--white);
    font-weight: 600;
    z-index: 2;
}

.main-body .product img {
    width: 100%;
    height: 120px;
}









/*_________ Three Dot Modal ________*/
.three-dot-modal .modal-content,
.note-modal .modal-content {
    padding: 20px;
}

.three-dot-modal .my-card {
    padding: 22px;
    background-color: var(--border-color);
    cursor: pointer;
    min-height: 100px;
}

.three-dot-modal .my-card i {
    color: var(--secondary-color);
}

.three-dot-modal .my-card:hover {
    background-color: var(--border-color2);
}




/*_________ Note Modal ________*/
.note-modal .modal-content {
    min-width: 800px;
}

.note-modal .my-card {
    padding: 18px 22px;
    cursor: pointer;
    font-weight: var(--fw-600);
    background-color: var(--border-color);
    color: var(--secondary-color);
    font-size: var(--fs-md);
}

.note-modal .my-card:hover {
    background-color: var(--border-color2);
}

.note-modal .my-card.active {
    background-color: var(--secondary-color);
    color: var(--white);
}

/*_________ Open Cash Modal ________*/
.open-cash-modal .modal-content {
    padding: 20px;
}

.open-cash-modal .cash-icon {
    padding: 8px;
    font-size: 18px;
    margin-left: -60px;
}


/*_________ Customers Modal ________*/
.customers-modal .table-wrapper {
    min-height: 500px;
    height: 400px;
    max-height: 4000px;
    overflow-y: scroll;
    position: relative;
}

.customers-modal .customer-search {
    border-radius: 12px;
    padding: 14px;
}


.customers-modal table th {
    padding: 18px 6px;
    padding-left: 12px;
    color: var(--secondary-color);
    box-shadow: var(--shadow-1);
    background-color: var(--secondary-color);
    color: var(--white);
}

.customers-modal table tbody tr {
    border-bottom: 1px dotted var(--border-color2);
    font-size: var(--fs-sm);
}

.customers-modal table tbody tr p,
.customers-modal table tbody tr div {
    font-size: var(--fs-sm);
}

.customers-modal table tbody tr:nth-child(even) {
    background-color: var(--border-color);
}


/* action dropdonn */
.customers-modal .action-dropdown {
    position: absolute;
    top: 40px;
    left: -20px;
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    z-index: 18;
    padding: 12px;
    border: 1px solid var(--border-color);
    min-width: 120px;
    border-radius: 4px;
    display: none;
}

.customers-modal .action-dropdown.active {
    display: flex;
}

.customers-modal .action-dropdown button {
    font-size: 13px;
    text-align: left;
    padding: 2px 6px;
}

.customers-modal .action-dropdown button:hover {
    background-color: var(--border-color);
}












/*__________________________________
______||   Payment Modal   ||_______
___________________________________*/
.payment-modal .modal-content,
.payment-modal-sucessfully .modal-content {
    width: 100%;
    max-width: 100%;
    height: 100dvh;
    background-color: var(--border-color);
}

.payment-modal .modal-content .header {
    background-color: var(--white);
}

.payment-right-sidebar {
    position: fixed;
    top: 63px;
    right: 0;
    height: calc(100dvh);
    width: 450px;
    background-color: var(--white);
    padding: 10px 0;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.payment-right-sidebar .payment-option {
    padding: 20px 20px;
    cursor: pointer;
}

.payment-right-sidebar .payment-option:hover {
    background-color: var(--border-color);
}

.payment-right-sidebar .calculator-total {
    height: 420px;
}

.payment-right-sidebar .head-buttons button {
    width: 50%;

}

.payment-right-sidebar .head-buttons input {
    border-color: var(--secondary-color);
}

.payment-right-sidebar .bottom-btns .my-outline-btn {
    background-color: var(--border-color) !important;
    color: var(--secondary-color);
}





/* payment-modal-body */
.payment-modal-body {
    margin-top: 50px;
    width: calc(100% - 460px);
    height: calc(100dvh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.payment-modal-body .detiails {
    width: 600px;
    height: 500px;
    text-align: center;
}







/*______________________________________________
______||   Payment Sucessfully Modal   ||_______
_______________________________________________*/

.payment-modal-sucessfully .payment-right-sidebar {
    width: 50%;
    height: calc(100dvh - 66px);
}

.payment-modal-sucessfully .sucessfully-message {
    width: 460px;
    margin: 0 auto;
    background-color: var(--border-color);
    margin-top: 30px;
    border: 1px solid var(--gray);
    padding: 24px;
}

.payment-modal-sucessfully .right-sidebar-wrapper {
    width: 460px;
    margin: 0 auto;
}

.payment-modal-sucessfully .sucessfully-message .edit-payment {
    padding: 4px 6px;
    background-color: var(--green);
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
}




.payment-modal-sucessfully .payment-modal-body {
    width: 50%;
}

.payment-modal-sucessfully .print-full-recieve {
    padding: 20px;
    border-radius: 6px;
    background-color: var(--border-color2);
    color: var(--secondary-color);
    font-size: var(--fs-md);
    font-weight: 600;
    transition: .2s linear;
}

.payment-modal-sucessfully .print-full-recieve:hover {
    background-color: var(--border-color);
}


.payment-modal-sucessfully .email-send {
    background-color: var(--border-color);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.payment-modal-sucessfully .email-send input {
    padding: 14px;
    border-radius: 0;
}

.payment-modal-sucessfully .email-send button {
    background-color: var(--border-color2);
    padding: 14.5px 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.payment-modal-sucessfully .new-order-btn {
    background-color: var(--secondary-color);
    padding: 24px;
    width: 99%;
    color: var(--border-color);
    border-radius: 8px;
}